@page


@{ 
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="    https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.39.0/js/hosted-fields.min.js"></script>
</head>
<body>
    <b>TEST!</b>
    <div class="panel panel-default bootstrap-basic">
        <div class="panel-heading">
            <h3 class="panel-title">Enter Card Details</h3>
        </div>
        <form asp-action="CreatePurchase" id="my-sample-form" method="post" class="panel-body">
            <div class="row">
                <div class="form-group col-sm-8">
                    <label class="control-label">Card Number</label>
                    <!--  Hosted Fields div container -->
                    <div class="form-control" id="card-number"></div>
                    <span class="helper-text"></span>
                </div>
                <div class="form-group col-sm-4">
                    <div class="row">
                        <label class="control-label col-xs-12">Expiration Date</label>
                        <div class="col-xs-6">
                            <!--  Hosted Fields div container -->
                            <div class="form-control" id="expiration-month"></div>
                        </div>
                        <div class="col-xs-6">
                            <!--  Hosted Fields div container -->
                            <div class="form-control" id="expiration-year"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Security Code</label>
                    <!--  Hosted Fields div container -->
                    <div class="form-control" id="cvv"></div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Zipcode</label>
                    <!--  Hosted Fields div container -->
                    <div class="form-control" id="postal-code"></div>
                </div>
            </div>
            <button type="submit" value="submit" id="submit" class="btn btn-success btn-lg center-block">Pay with <span id="card-type">Card</span></button>
        </form>
    </div>

    <script>
    var form = document.querySelector('#my-sample-form');
    var submit = document.querySelector('input[type="submit"]');
      var clientToken = @ViewBag.ClientToken;
        //var clientToken = "eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiJjNjVjYzZhOWY2YjZlNzg5NzJmZDU0ZjUyZTZiODc2Y2JlYmJlZmEyOTQxYmNjYzY1NDJmZGY1ODExNGUxNjk4fGNyZWF0ZWRfYXQ9MjAxOC0xMS0xOVQxNzo1ODo1Mi4wMDYyOTA1NDMrMDAwMFx1MDAyNm1lcmNoYW50X2lkPW41empkbWhnZ3d6NW56YnFcdTAwMjZwdWJsaWNfa2V5PWg2cGtxYnZiMmg2d3h0MnciLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvbjV6amRtaGdnd3o1bnpicS9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJncmFwaFFMIjp7InVybCI6Imh0dHBzOi8vcGF5bWVudHMuc2FuZGJveC5icmFpbnRyZWUtYXBpLmNvbS9ncmFwaHFsIiwiZGF0ZSI6IjIwMTgtMDUtMDgifSwiY2hhbGxlbmdlcyI6W10sImVudmlyb25tZW50Ijoic2FuZGJveCIsImNsaWVudEFwaVVybCI6Imh0dHBzOi8vYXBpLnNhbmRib3guYnJhaW50cmVlZ2F0ZXdheS5jb206NDQzL21lcmNoYW50cy9uNXpqZG1oZ2d3ejVuemJxL2NsaWVudF9hcGkiLCJhc3NldHNVcmwiOiJodHRwczovL2Fzc2V0cy5icmFpbnRyZWVnYXRld2F5LmNvbSIsImF1dGhVcmwiOiJodHRwczovL2F1dGgudmVubW8uc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbSIsImFuYWx5dGljcyI6eyJ1cmwiOiJodHRwczovL29yaWdpbi1hbmFseXRpY3Mtc2FuZC5zYW5kYm94LmJyYWludHJlZS1hcGkuY29tL241empkbWhnZ3d6NW56YnEifSwidGhyZWVEU2VjdXJlRW5hYmxlZCI6dHJ1ZSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiTW9rYSBNb2trYSBLZnQiLCJjbGllbnRJZCI6bnVsbCwicHJpdmFjeVVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS9wcCIsInVzZXJBZ3JlZW1lbnRVcmwiOiJodHRwOi8vZXhhbXBsZS5jb20vdG9zIiwiYmFzZVVybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXNzZXRzVXJsIjoiaHR0cHM6Ly9jaGVja291dC5wYXlwYWwuY29tIiwiZGlyZWN0QmFzZVVybCI6bnVsbCwiYWxsb3dIdHRwIjp0cnVlLCJlbnZpcm9ubWVudE5vTmV0d29yayI6dHJ1ZSwiZW52aXJvbm1lbnQiOiJvZmZsaW5lIiwidW52ZXR0ZWRNZXJjaGFudCI6ZmFsc2UsImJyYWludHJlZUNsaWVudElkIjoibWFzdGVyY2xpZW50MyIsImJpbGxpbmdBZ3JlZW1lbnRzRW5hYmxlZCI6dHJ1ZSwibWVyY2hhbnRBY2NvdW50SWQiOiJUZXN0TU0iLCJjdXJyZW5jeUlzb0NvZGUiOiJIVUYifSwibWVyY2hhbnRJZCI6Im41empkbWhnZ3d6NW56YnEiLCJ2ZW5tbyI6Im9mZiJ9"
        console.log(clientToken);

            braintree.client.create({
                authorization: clientToken
            }, function (err, clientInstance) {
                if (err) {
                    console.error(err);
                    return;
                }

                braintree.hostedFields.create({
                    client: clientInstance,
                    styles: {
                        'input': {
                            'font-size': '14px',
                            'font-family': 'helvetica, tahoma, calibri, sans-serif',
                            'color': '#3a3a3a'
                        },
                        ':focus': {
                            'color': 'black'
                        }
                    },
                    fields: {
                        number: {
                            selector: '#card-number',
                            placeholder: '4111 1111 1111 1111'
                        },
                        cvv: {
                            selector: '#cvv',
                            placeholder: '123'
                        },
                        expirationMonth: {
                            selector: '#expiration-month',
                            placeholder: 'MM'
                        },
                        expirationYear: {
                            selector: '#expiration-year',
                            placeholder: 'YY'
                        },
                        postalCode: {
                            selector: '#postal-code',
                            placeholder: '90210'
                        }
                    }
                }, function (err, hostedFieldsInstance) {
                    if (err) {
                        console.error(err);
                        return;
                    }

                    hostedFieldsInstance.on('validityChange', function (event) {
                        var field = event.fields[event.emittedBy];

                        if (field.isValid) {
                            if (event.emittedBy === 'expirationMonth' || event.emittedBy === 'expirationYear') {
                                if (!event.fields.expirationMonth.isValid || !event.fields.expirationYear.isValid) {
                                    return;
                                }
                            } else if (event.emittedBy === 'number') {
                                $('#card-number').next('span').text('');
                            }

                            // Remove any previously applied error or warning classes
                            $(field.container).parents('.form-group').removeClass('has-warning');
                            $(field.container).parents('.form-group').removeClass('has-success');
                            // Apply styling for a valid field
                            $(field.container).parents('.form-group').addClass('has-success');
                        } else if (field.isPotentiallyValid) {
                            // Remove styling  from potentially valid fields
                            $(field.container).parents('.form-group').removeClass('has-warning');
                            $(field.container).parents('.form-group').removeClass('has-success');
                            if (event.emittedBy === 'number') {
                                $('#card-number').next('span').text('');
                            }
                        } else {
                            // Add styling to invalid fields
                            $(field.container).parents('.form-group').addClass('has-warning');
                            // Add helper text for an invalid card number
                            if (event.emittedBy === 'number') {
                                $('#card-number').next('span').text('Looks like this card number has an error.');
                            }
                        }
                    });

                    hostedFieldsInstance.on('cardTypeChange', function (event) {
                        // Handle a field's change, such as a change in validity or credit card type
                        if (event.cards.length === 1) {
                            $('#card-type').text(event.cards[0].niceType);
                        } else {
                            $('#card-type').text('Card');
                        }
                    });

                    $('.panel-body').submit(function (event) {
                        event.preventDefault();
                        hostedFieldsInstance.tokenize(function (err, payload) {
                            if (err) {
                                console.error(err);
                                return;
                            }

                            document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
                            //form.submit();

                            //console.log('Got a nonce: ' + paymentMethodNonce);
                        });
                    });
                });
            });
    </script>
</body>
</html>
